<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
			
		<typeAlias type="com.web.bomulsum.user.login.repository.MemberVO" alias="memberVO"/>
		
		<!-- 다인 테스트-->
		<typeAlias type="com.web.bomulsum.writer.board.repository.writerBoardVO" alias="writerBoardVO"/>
		
	</typeAliases>

	<mappers>
		<mapper resource="mappings/user/login-mapping.xml" />
		
		<!-- 다인테스트 -->
		<mapper resource="mappings/writer/writer-board-mapping.xml" />
		<mapper resource="mappings/manager/manager-board-mapping.xml" />
		
	</mappers>
</configuration>